// Logical part

box-shadow attrs
	-webkit-box-shadow attrs
	-moz-box-shadow attrs
	box-shadow attrs

$elementShadowColor = rgba(192, 192, 192, 1)
$elementBorderColor = rgba(192, 192, 192, 1)
$elementActiveBorderColor = rgba(168, 168, 168, 1)

$btnPrimaryBgColor = #337ab7
$btnPrimaryBorderColor = #2e6da4
$btnSuccessBgColor = #5cb85c
$btnSuccessBorderColor = #4cae4c
$btnInfoBgColor = #5bc0de
$btnInfoBorderColor = #46b8da
$btnWarningBgColor = #f0ad4e
$btnWarningBorderColor = #eea236
$btnDangerBgColor = #d9534f
$btnDangerBorderColor = #d43f3a

$sourceCodeFontSize = 0.7rem
$sourceCodeFontFamily = Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New

// Styling

body
	font-family 'Source Sans Pro', sans-serif

.main-container
	display flex
	border 1px solid lighten(grey, 60%)
	border-radius 4px
	padding 0 14px
	box-shadow 0 1px 5px 0 $elementShadowColor

.data-container
	flex-basis 75%
	overflow hidden

.generator-container
	display flex
	overflow hidden
	flex-direction column
	flex-basis 25%
	min-width 380px

	textarea
		resize vertical

.option-container,
.button-container
	border 1px solid lighten(grey, 60%)
	border-radius 4px
	padding 8px 12px

.option-container
	overflow scroll
	max-height 100%
	margin 18px 0 6px 14px

.button-container
	margin 0 0 18px 14px

.group-header
	padding 4px 6px
	margin-top 24px
	border-bottom solid 1px lighten(grey, 60%)

	&:first-child
		margin-top 6px

.form-group
	display flex
	flex-direction column
	margin-bottom 12px

.label
	padding-bottom 4px

.label,
.input
	flex-basis 100%
	display block

.input
	transition 0.1s
	border 1px solid $elementBorderColor
	border-radius 4px
	box-shadow 0 1px 5px 0 $elementShadowColor
	padding 4px 6px
	min-width 30px

	textarea&
		min-height 64px

	&:not(textarea)
		height 18px

	&:focus
		outline none
		border-color $elementActiveBorderColor
		box-shadow 0 0 0 0 $elementShadowColor

.input-group
	display flex
	align-items center
	margin 4px 0

	& > *
		margin 4px

		&:first-child
			margin-left 0

		&:last-child
			margin-right 0

	.input
		flex-basis auto

.label:after
	content ':'

.function-container
	flex-basis 100%
	flex-direction column
	display flex
	margin-top 6px
	font-size $sourceCodeFontSize
	font-family $sourceCodeFontFamily

	&:before,
	&:after
		flex-basis 100%

	&:before
		content attr(data-before)
		margin-bottom 4px

	&:after
		content attr(data-after)
		margin-top 4px

	textarea
		font-size $sourceCodeFontSize
		font-family $sourceCodeFontFamily
		margin-left 16px

.radio-options
	display flex
	margin 4px 0

.radio-input
	transition 0.1s

	&:focus
		outline none

.radio-label
	vertical-align middle
	margin 0 4px
	min-width 60px

.btn
	position relative
	top 0
	padding 6px 12px
	transition 0.1s
	background-color white
	border 1px solid $elementBorderColor
	border-radius 4px
	box-shadow 0 1px 5px 0 $elementShadowColor

	&:focus,
	&:hover
		cursor pointer
		outline none
		top 2px
		box-shadow 0 0 2px 0 $elementShadowColor

	&.primary,
	&.success,
	&.info,
	&.warning,
	&.danger
		color white

	&.primary
		background-color $btnPrimaryBgColor
		border-color $btnPrimaryBorderColor

	&.success
		background-color $btnSuccessBgColor
		border-color $btnSuccessBorderColor

	&.info
		background-color $btnInfoBgColor
		border-color $btnInfoBorderColor

	&.warning
		background-color $btnWarningBgColor
		border-color $btnWarningBorderColor

	&.danger
		background-color $btnDangerBgColor
		border-color $btnDangerBorderColor

h1
	font-size 1.8rem
	margin 18px 14px

h3
	font-size 1.4rem
	margin 6px 0