// TODO: Kiszervezni fájlba

$black = #000000
$gray = #5e5e5e
$dirtyWhite = #eaeaea
$green = #43A047
$darkGray = #2f2f2f
$cTableRowBorder = #d3d3d3

.virtual-container,
.fixed-container
	transform translate3d(0, 0, 0) // Force chrome to optimize the table
	overflow-anchor none

	.hidden
		display none

	.virtual-table,
	.fixed-table
		border-spacing 0

	.fixed-table
		padding-bottom 50px

	td
		border-bottom none

	.data-row
		padding 2px 4px

	.header-cell
		background $dirtyWhite
		color $black
		text-align center

		&[colspan]
			font-size 15px

	.header-cell,
	.filter-cell,
	.data-cell
		position relative
		border-right 1px solid $cTableRowBorder
		border-bottom 1px solid $cTableRowBorder
		background-color $dirtyWhite
		font-size 13px
		padding 0

		&.editing-cell
			padding 0

			input
				color $darkGray
				padding 4px 8px
				border none
				width 100%
				height 100%
				box-shadow 0 0 6px 0 $gray

				&:focus
					outline none

		&.edited-cell
			background-color lighten($green, 80%)

		.cell-data-container
			overflow hidden
			text-overflow ellipsis

	.data-cell
		color $darkGray
		background-color $dirtyWhite

	td:first-child
		border-left 1px solid $cTableRowBorder

	.sort-cell:not(.sort-disabled)
		cursor pointer

	.sort-icon,
	.filter-search-icon,
	.filter-clear-icon
		padding 3px
		border 1px solid rgba(0, 0, 0, 0)
		border-radius 4px

		&:hover
			border-color $gray

	.filter-clear-icon
		float right
		margin 0 2px

	.sort-icon
		margin-right 4px
		margin-left -24px

	.filter-cell:not(.filter-disabled)
		cursor pointer

	.filter-container
		display flex
		align-items center

		& > *
			margin 0

		input
			width 90%

	.filtered-out
		display none