// TODO: Kiszervezni fájlba

$black = #000000
$gray = #5e5e5e
$dirtyWhite = #eaeaea
$green = #43A047
$darkGray = #2f2f2f
$cTableRowBorder = #d3d3d3
$cTableHeaderRowBorder = darken($cTableRowBorder, 30%)
$pTableEdgeBorder = 2px solid $cTableHeaderRowBorder
$dContainerBorderRadius = 5px

.fixed-container ~ .data-container
	border-left none
	border-bottom-left-radius 0

.fixed-header-container ~ .data-header-container
	border-left none
	border-top-left-radius 0

.data-container .data-table,
.data-header-container .data-header-table,
.fixed-container .fixed-table,
.fixed-header-container .fixed-header-table
	td:first-child
		border-left none

	td:last-child
		border-right none

	tr:first-child td
		border-top none

	tr:last-child td
		border-bottom none

.data-header-container,
.fixed-header-container
	border-top $pTableEdgeBorder
	border-bottom $pTableEdgeBorder
	font-size 1.1em
	font-weight bold

.fixed-container,
.fixed-header-container,
.data-container,
.data-header-container
	border-left $pTableEdgeBorder
	border-right $pTableEdgeBorder

.data-container,
.fixed-container
	border-bottom $pTableEdgeBorder
	font-size 0.8em

.data-container
	overflow scroll
	border-bottom-left-radius $dContainerBorderRadius
	border-bottom-right-radius $dContainerBorderRadius

.data-header-container
	overflow hidden
	border-top-left-radius $dContainerBorderRadius
	border-top-right-radius $dContainerBorderRadius

.fixed-container
	clear left
	overflow hidden
	border-bottom-left-radius $dContainerBorderRadius

.fixed-header-container
	border-top-left-radius $dContainerBorderRadius

.fixed-container,
.fixed-header-container
	float left

.data-container,
.data-header-container,
.fixed-container,
.fixed-header-container
	overflow-anchor none
	transform translate3d(0, 0, 0) // Force chrome to optimize the table

	.data-table,
	.data-header-table,
	.fixed-table,
	.fixed-header-table
		will-change transform
		border-collapse collapse

	.fixed-table tr:last-child td
		border-bottom 1px solid $cTableRowBorder

	.hidden
		display none

	.fixed-table
		margin-bottom 20px

	td
		border-bottom none

	.data-row
		padding 2px 4px

	.header-cell
		color $black
		text-align center

	.buffer-header-cell
		min-width 20px

	.header-cell,
	.filter-cell,
	.data-cell
		border-right 1px solid $cTableRowBorder
		border-bottom 1px solid $cTableRowBorder
		padding 0

		&.readonly-cell
			background $dirtyWhite

		&.editing-cell
			padding 0

			input
				color $darkGray
				padding 4px 8px
				border none
				width 100%
				height 100%
				box-shadow 0 0 6px 0 $gray

				&:focus
					outline none

		&.edited-cell
			background-color lighten($green, 80%)

	.data-cell
		color $darkGray

	.cell-data-container
		word-break break-all

	.overflowed-cell
		overflow hidden

	td:first-child
		border-left 1px solid $cTableRowBorder

	.sort-cell:not(.sort-disabled)
		cursor pointer

	.sort-icon,
	.filter-search-icon,
	.filter-clear-icon
		padding 3px
		border 1px solid rgba(0, 0, 0, 0)
		border-radius 4px

		&:hover
			border-color $gray

	.filter-clear-icon
		float right
		margin 0 2px

	.sort-icon
		margin-right 4px

	.filter-cell:not(.filter-disabled)
		cursor pointer

	.filter-container
		display flex
		align-items center

		& > *
			margin 0

		input
			width 90%

	.filtered-out
		display none